# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs and editors
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Generated documentation
**/doc/api/

# Flutter iOS
**/ios/Flutter/.last_build_id
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/
/ios/Pods/
/ios/Podfile.lock
/ios/.symlinks/
/ios/Flutter/FlutterCarpenter.log

# Flutter macOS
/macos/Flutter/ephemeral/
/macos/Build/
/macos/DerivedData/
/macos/Flutter/Flutter.framework
/macos/Flutter/Flutter.podspec

# Flutter Android
/android/.gradle/
/android/app/build/
/android/local.properties
/android/key.properties
/android/*.iml

# Flutter Linux
/linux/flutter/
/linux/Flutter/
/linux/engine/
/linux/cmake/
/linux/xdg/

# Windows
/windows/flutter/
/windows/runner/Release/
/windows/runner/Debug/
/windows/runner/GeneratedPluginRegistrant.*

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Local environment and secrets
.env
*.env

# Coverage reports
coverage/

# Miscellaneous build artifacts
*.lock
*.stamp
*.out
*.log
